.quotes {

    --spacer: 1.5rem;

    li{
        &:nth-child(2) {
            transform: translateY(2rem);
        }
        &:nth-child(3) {
            transform: translateY(4rem);
        }
    }

    blockquote {
        background-color: var(--clr-primary-700);
        color: var(--clr-neutral-200);
        text-align: left;
        border-radius: var(--br);
        padding: var(--spacer);
        max-width: 25rem;
        margin: 0 auto;
        height: 100%;
    }

    img {
        width: 2.7rem;
        border-radius: 50%;
        margin-right: var(--spacer);
    }

    .name {
        font-weight: 800;
    }

    .status {
        color: var(--clr-primary-300);
    }

    .quote {
        margin-top: var(--spacer);
    }
    
}