body {
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    padding-top: 5rem;
    text-align: center;
    background: url(/images/bg-pattern-top-desktop.svg),
    url(/images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-size: 50%, 50%;
    
}

h1 {
    font-size: var(--fs-900);
    color: var(--clr-primary-700);
    line-height: 1;
    max-width: 15ch;
    margin-bottom: 0.25em;
    font-weight: 800;

    @media (max-width: 50em) {
        margin-left: auto;
        margin-right: auto; 
        margin-bottom: 1em;
    }
}

.lead {
    font-size: var(--fs-500);
}


// Layout Stuff

main {
    display: grid;
    gap: 3rem 1rem;
}

@media (min-width: 50em){

    main {
        grid-template-columns: 1fr 1.5fr;
        text-align: left;
    }

    .intro {
        grid-column: 1/2;
    }
    
    .ratings {
        grid-column: 2/3;
        align-self: center;
    }
    
    .quotes {
        grid-column: 1/-1;
    }
  
}  

