@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
}

body  {
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    font-family: 'Josefin Sans',sans-serif;
    margin: 0;
}

.container {
    display: flex;
    min-height: 100vh;
}

.left {
    background-image: url(/images/bg-pattern-desktop.svg);
    background-size: cover;
    background-position: center center;
    padding: 0 40px 80px;
    width: 60%;
}

.inner-container {
    max-width: 450px;
    margin: auto;
}

.right {
    width: 40%;
}

.bg-image {
    background-image: url(/images/hero-desktop.jpg);
    background-size: cover;
    background-position: center center;
}

.logo {
    margin: 40px 0px 80px;
    width: 150px;
}

.bg-mobile {
    display: none;
}

h1 {
    text-transform: uppercase;
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: 15px;
    transform: translateX(-100%);
    color:  hsl(0, 6%, 24%);
    margin-bottom: 0;
    animation: comeinleft 0.6s ease-out forwards;
    opacity: 0;

}


h1 span {
   color:  hsl(0, 36%, 70%);
   font-weight: 300;
}

p { 
    color:  hsl(0, 36%, 70%);
    line-height: 26px;
    margin: 20px 0 40px;
    transform: translateX(100%);
    opacity: 0;
    animation: comeinright 0.6s ease-out forwards;
}


form {
    position: relative;
    animation: comeinup 0.6s ease-out forwards;
    transform: translateY(200%);
    opacity: 0;
}


input {
    background-color: transparent;
    border: 1px solid hsla(0, 36%, 70%, 0.6);
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 16px;
    width: 100%;
    height: 55px;

}

input:focus {
    border-width: 2px;
    outline: none;
    box-shadow: 0px 0px 10px rgba(206, 151, 151, 0.8);
}

input::placeholder {
    color: hsl(0, 36%, 70%);
    opacity: 0.6;
}

form.error input {
    border: 1px solid hsl(0, 93%, 68%);
}

button {
 position: absolute;
 background-image: linear-gradient(135deg,hsl(0, 80%, 86%), hsl(0, 74%, 74%));
 border: none;
 box-shadow: 2px 5px 10px rgba(206, 151, 151, 0.5);
 padding: 15px;
 width: 100px;
 top: 0;
 right: 0;
 border-radius: 50px;
 height: 55px;
 cursor: pointer;
 transition: opacity 200ms ease-in-out;
}

button:hover {
    opacity: 0.6;
}

.error-icon {
    display: none;
    position: absolute;
    top: 15px;
    right: 110px;
}

form.error .error-icon, form.error small {
    display: block;
}

small {
    display: none;
    color: hsl(0, 93%, 68%);
    margin-top: 15px;
    margin-left: 30px;
}

/* Animations */

@keyframes comeinleft {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes comeinright {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes comeinup {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/* Mobile  */


@media screen and (max-width: 600px) {

    .logo {
        margin: 30px 0px;
        width: 100px;
    }

    .bg-mobile {
        display: block;
        margin: 0 -40px; 
        width: calc(100% + 80px);
    }

    h1 {
        font-size: 40px;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 0;
    }

    p {
        margin-top: 30px;
        margin-bottom: 35px;
        text-align: center;
    }
    
    .left {
        width: 100%;
    }
    
    .right {
        display: none;
    }
}